@media screen and ( max-width: 1200px )
    .container
        max-width: 1080px
    .promo
        min-height: 850px
        &__rectangle
            width: 450px
            height: 220px
            &_text
                padding: 24px 25px 0 70px
                font-size: 40px
    .nitecity
        &_title
            width: 620px
        &_text
            width: 788px
            height: 158px
        &_wrapper_sideitem
            flex-direction: row
            justify-content: center
            &_item
                margin-right: 32px
                margin-bottom: 32px
        &_wrapper_mainitem
            width: 952px
            height: 424px
            display: flex
            justify-content: center
    .about_logo
        margin-bottom: -30px
    .buy
        background: url(../img/bg/buy_bg.png) no-repeat -430px 0,#000
        &_title
            margin-top: 30px
            padding-left: 550px
        &_bluetext
            padding-left: 550px
        &_icons
            margin-left: 550px
        .platform
            left: 550px
            margin-top: 10px