.header__menu {
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    align-content: center;
}

ul {
    width: 379px;
    height: 30px;
    padding: 22px 0 0 0;
    margin: 0;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

.promo {
    min-height: 1000px;
    background: url(../img/bg/main_bg.jpg) center center/cover no-repeat;
}